body{
    color:rgb(0, 128, 124);
    background-color:palevioletred;
    font-family:Arial, Helvetica, sans-serif;
}
P{
    font-style:italic;
    font-size:x-large;
    font-weight:bolder;
}

video{
    height:100px;
    width:100%;
}
ol{
    list-style-type:circle;
}
table ,th,td{
    border:1px solid white;
    border-collapse:collapse;
}
h1{
    padding:20px;
    border:2px solid white;
}
button:hover{
    background-color:aqua;
    border radius:500px;
}
button{
    padding:10px;
    margin:20px;
}
nav{
    display:flex;
    flex-direction:column;
   /* gap:100px;*/
}
#p1{
    font-style:normal;
    font-size:xx-large
}
#p2{
    font-style:italic;
    font-size:xx-large;
}
.pclass{
    font-size:xx-large;
}
.grid{
    display:grid;

}
@media (min-width:1024px ){
    .grid{
        display:grid;
        grid-template-column: 33% 33% 33%;
    }
}
.cats{
    display:grid;
    grid-template-columns:50% 50%;
}
img{
    height:auto;
    width:100%;
    border-radius:500px;
}
@media (min-width:600px){
    img{
        height:auto;
        width:100%;
    }

}@media (min-width:1024px){
    nav{
        display: flex;
        flex-direction:row;
        gap:100px;
    }
}
#one{
    grid-row: 1/2;
}
#two{
    grid-row: 1/2;
}
#two{
    grid-row: 1/2;
}
#three{
    grid-row: 1/2;
}
#four{
    grid-row: 2/3;
}
#five{
    grid-row: 2/3;
}
#six{
    grid-row: 2/3;
}
